/* custom fonts */
@font-face {
    font-family: "oswald";
    src: url("./fonts/oswald.ttf");
}

@font-face {
    font-family: "gungsuh";
    src: url("./fonts/gungsuh.ttc") format("ttc");
}

@font-face {
    font-family: "impact";
    src: url("./fonts/impact.ttf");
}

@font-face {
    font-family: "nudi15e";
    src: url("./fonts/Nudi15e.ttf");
}

:root {

    --kannadafont: "nudi15e";
    --heading: "impact";

    /* font size */
    --fs-xl: clamp(1.5rem, 6vw - 1.25rem, 3rem);
    --fs-lg: clamp(1rem, 7vw - 1.25rem, 1.5rem);
    --fs-sm: clamp(0.6rem, 5vw - 1.25rem, 1rem);


    /* colors used in this webpage */
    --red: #e50503;
    --gray: #464646;
    --white: #f5f5f5;
    --black: #0D0C0C;
    --lighred: #ff0000;
    --lightGray: #c0c0c0;
    --yellow: #ffb301;
}

* {
    margin: 0;
    padding: 0;
    /* outline: 2px solid rgba(193, 109, 109, 0.2); */
}

body {
    font-family: "oswald";
    background-color: var(--white);
    /* background-color: #fff; */
}

/* heading and logo */
.heading {
    width: 75%;
    margin: 1.3rem auto;
    color: var(--red);
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    text-align: center;
}

/* header - logo */
.header_logo a {
    text-decoration: none;
}

.header_logo img {
    width: 100%;
    display: block;
    margin: auto;
    cursor: pointer;
}

/* header texts */
.main_heading>h1:first-of-type {
    font-family: var(--kanndafont);
    font-weight: 900;
    font-size: var(--fs-xl);
    line-height: 1.5;
}

.main_heading>h1:last-of-type {
    font-family: var(--heading);
    font-size: var(--fs-xl);
    font-weight: 100;
    letter-spacing: 1px;
}


/* navbar */
.navbar {
    position:sticky;
    top: 0;
    width: 100%;
    background-color: var(--gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar>* {
    margin: 0.5rem;
}

.navbar img:first-of-type {
    max-width: 50px;
}

.news {
    display: grid;
    grid-template-columns: 25% 75%;
    /* width: 90%; */
    margin: 0 auto;
    padding: 1rem;
    gap: 1rem;
}

.left {
    margin-top: 5rem;

}

.recent_news {
    border-left: 5px solid var(--lighred);
    padding-left: 10px;
}

.news_lists {
    overflow: hidden;
}

.news_list {
    display: grid;
    grid-template-columns: 70% 30%;
    margin-top: 2rem;
    cursor: pointer;
    background-color: #fff;
}

.news_list p {
    margin: 0.2rem;
    font-size: 1vw;
    font-family: "gungsuh";
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    cursor: pointer;
}

.news_list img {
    width: 100%;
    object-fit: cover;
    display: flex;
    margin: auto 0;
}

.right {
    width: 90%;
    margin-right: auto;
    padding: 1.5rem;
    background-color: #fff;
    font-family: "gungsuh";
    border-radius: 10px;
}

.right h1 {
    padding-bottom: 1.2rem;
    font-size: 2.5vw;
    text-align: center;
}


.right img {
    display: block;
    margin: 1.5rem auto;
    width: 100%;
    object-fit: cover;
    max-width: 700px;
}

.right h5 {
    margin: 1rem;
    border-left: 5px solid var(--yellow);
    padding: 1rem 0 1rem 1rem;
    background-color: var(--lightGray);
    font-size: 1.5vw;
    line-height: 1.5;
    font-weight: 200;
}

.right p {
    margin: 1rem;
    font-size: var(--fs-sm);
    line-height: 1.5;
}

@media (max-width:720px) {
    .news {
        grid-template-columns: 1fr;
        /* grid-template-rows:90% 10%; */
    }

    .left {
        grid-area: 2/1/3/2;
        margin: 0;
    }

    .news_list p {
        font-size: 2vw;
        margin: 1rem;
        display: flex;
    }

    .right h1 {
        padding-bottom: 0;
        font-size: 3vw;
    }

}







/* footer */
.footer {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2rem 0;
}

.footer p a {
    text-decoration: none;
    color: var(--black);
}

.footer_icons a {
    text-decoration: none;
}

@media (max-width:720px) {
    .footer {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}